.mainclass {
  display: flex;
}

.signin {
  font-family: inherit;
  box-sizing: border-box;
  max-width: 340px;
  width: 100%;
  padding: 50px 30px 30px;
  flex-direction: column;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
  border-radius: 10px;

  &__input {
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid var(--main-blue);
    padding-bottom: 7px;
    font-size: 15px;
    color: var(--main-noFull-black);
    font-weight: 500;
    line-height: 15px;
  }

  &__label {
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 15px;
    color: var(--main-derk-grey);
    font-weight: 500;
    line-height: 15px;
  }
}
