.mainclass {
  display: flex;
}

input[type="file"] {
  display: none;
}

.edit-profile {
  list-style: none;
  font-family: inherit;
  box-sizing: border-box;
  max-width: 540px;
  width: 100%;
  padding: 50px 30px 30px;
  flex-direction: column;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
  border-radius: 10px;

  &__input-file {
    font-family: inherit;
    border: 5px;
    display: block;

    /* padding: 6px 12px; */
    margin: 22px 0;
    cursor: pointer;
    border-bottom: 1px solid var(--main-blue);
  }

  &__avatar {
    margin-left: 37%;
  }
}
