.button {
  cursor: pointer;
  text-decoration: none;


  display: block;


  border: none;
 
 
  background-color: #2e69fd;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 15px;
 
   
  max-width: 280px;
  border-radius: 8px;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 15px;
   
  &_disable {
    opacity: 0.2;
  }
  &__edit_pro{ 
    margin-left: 100px;    
  }
  &__edit_password{ 
    margin-left: 70px;    
  }
  &__footer-btn-send {
    box-sizing: border-box;
    cursor: pointer;
    background-color: #2e69fd;
    border: none;
    padding: 0;
    transform: scaleX(-1);
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    background: center no-repeat url("../../image/Group 202.svg");
  }
}
 