.button {
  cursor: pointer;
  text-decoration: none;
  display: block;
  border: none;
 
  background-color: var(--main-blue);
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 15px;
 
   
  max-width: 280px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--main-white);
  font-weight: 500;
  line-height: 15px;

  &__footer-btn-send_zero {
    display: none;
    width:0px;
    height: 0px;
  }
}
 