.mainpage {
  display: flex;
}

.edit-password {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 64px 1fr;

  &__main {
    list-style: none;
  }

  &__form {
    font-family: inherit;
    text-align: center;
    margin: 60px auto 0;
    margin-top: 60px;
    max-width: 410px;
  }

  &__list {
    margin-top: 90px;
    padding: 0;
    margin-bottom: 60px;
  }
}
