.avatar {
   width: 130px;
   height: 130px;
   display: inline-block;
   position: relative;
   max-width: 130px;
   max-height: 130px;
   overflow: hidden;
   border-radius: 50%;
   margin-bottom: 21px;
   font: 10px Impact;
}
